.About-Text{
    /*background: linear-gradient(0deg, rgb(247, 247, 247) 0%, rgb(247, 247, 247) 100%);*/
    padding: 24px;
    font-size: 1.23rem;
    text-align-last: center;
    color: rgb(68, 68, 68);
    font-family:  Helvetica, Arial, sans-serif;
    /*filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.26));*/
    border-radius:16px ;
    
    
    
    
}
.about-card{
    padding: 54px;
    background-color: rgb(255, 255, 255);
    
}

.image-trio{
    display: flex;
    margin-bottom: 0px;
    padding-top: 22px;
    flex-direction: row;
    
 
}
.image-wrapper{
    position: relative;

}
.image-container{
    
    display: flex;
    flex-flow: column;
    align-items: center;
    
    margin: 0 auto;
}
@media only screen and (max-width: 740px) {
    .image-trio{
        flex-direction: column;
        align-items: center;
        
    }
    .About-Text{
        font-size: 1.13rem;
        padding: 14px;
    }
  }
  
  
  
  

