.image{
    width:250px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 25px;
    margin-bottom: 18px;

    
}
.image-container{
    
}
@media only screen and (max-width: 1040px) {
    .image{
       width:80%;
       
        
    }
  }
  @media only screen and (max-width: 740px) {
    .image{
        width:250px;
        height: 200px;
       
        
    }
    

  }