
.ul {
    list-style-type: none;
}
.listsBlock {
    padding: 0rem;
    background: rgb(255, 255, 255);

  }

  h1 {
    text-align: center;
  }
  
  .Lists__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    
  }
  
  .Lists__wrapper {
    position: relative;
    margin: 50px 0 45px;
    
  }
 
  
  
  .List__items {
    margin-bottom: 34px;
    display: flex;
    flex-flow: column;
    flex: 1;
    margin: 10 1rem;
    margin-top:-55px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0px 12px rgba(141, 141, 141, 0.158));
    
  }
  .list-items-block{
      background-color: aqua;
      list-style-type: none;
      
      
  }

  /*individual list component link styling*/
  .ListCard__Link {
    
    display: flex;
    background-color: rgb(208, 211, 211);
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius:15px;
    overflow: hidden;
    text-decoration: none;
  }

  /*individual list components styling*/
  .list-items-individuals{
      
      margin: 10px;
      list-style-type: none;
   
  }

  .list-header{
      background-color: rgb(75, 92, 109);
      margin-top: 0px;
      width: 225px;
      margin: 10px;
      font-size:2rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .card-wrapper{
      background-color: rgb(255, 255, 255);
      margin-left: 5px;
      margin-right: 5px;
      align-items: center;
      border-radius: 5px;
      margin-bottom:10px;
      padding-bottom: 10px;
      
      
      
      
      
  }
  /*
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden; 
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }

  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  */
  @media only screen and (min-width: 1200px) {
    .Lists__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 780px) {
    .List__items {
      display: flex;
      flex-flow:row ;
      margin-bottom: 0;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-column: auto;
      align-items: baseline;
      margin-top:-55px;
      
      
      
      
    }
  }
  
  