* {   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family:  Helvetica, Arial, sans-serif;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/

  }

.page{
    background-image : url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
    
}

  