* {
    
    background-image : url(http://api.thumbr.it/whitenoise-361x370.png?);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family:  Helvetica, Arial, sans-serif;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/

  }

  